.gpt3__cta{
    border: 1px solid white;
    color:var(--gradient-text);

    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: radial-gradient(circle at 8% 27%, rgb(18, 10, 54) 0%, rgb(83, 63, 41) 50%, rgba(4, 5, 24, 1) 99%);
}

.gpt3__cta-content p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */
    
    
    color: #7aecaa;
}

.gpt3__cta-content h3{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 45px;
/* or 188% */


color: #93e979;
}

.gpt3__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.gpt3__cta-button button{
    background: var(--gradient-text);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}


@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}